{% extends "index.html" %}

{% block content %}
    <h2>Mandalika Portal <small>{{ label }}</small></h2> 
    <div class="row">
        {% for obj in data %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ obj.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="/detail/{{ obj.id }}" class="btn btn-primary">Readmore ..</a>
                            <small class="text-muted">{{ obj.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}